<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>io.staerk.alfred.chuck-norris-jokes</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>2CFD8B41-9FE9-4C60-B4BD-0820F0DE43AC</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>FB7413C9-BBDD-43D0-BB6B-8A676C4D99DB</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>52067DA4-04F5-4B8D-B3EC-1B4E11431B79</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>9F6E90AC-80F6-44C5-9DF8-A0497DC5F42D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>B9F06354-19D7-4DA3-BB24-30892F63146D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>7242DEB0-A10A-4B5F-B780-9B19A759F902</key>
      <array/>
      <key>8F3844AF-9598-4BCC-A553-10E320743F5B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>FB7413C9-BBDD-43D0-BB6B-8A676C4D99DB</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>CCFE899C-E1B6-469A-92C7-49AC0ADDBE03</key>
      <array/>
      <key>D8275FDE-6145-46C4-AD00-8A0365E61736</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>974535F0-94B7-4BF7-B73A-ACFEDDE66A4C</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>7242DEB0-A10A-4B5F-B780-9B19A759F902</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>FB7413C9-BBDD-43D0-BB6B-8A676C4D99DB</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>974535F0-94B7-4BF7-B73A-ACFEDDE66A4C</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <true/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>52067DA4-04F5-4B8D-B3EC-1B4E11431B79</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <true/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>D8275FDE-6145-46C4-AD00-8A0365E61736</string>
          <key>modifiers</key>
          <integer>524288</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <true/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>2CB4A313-D6A3-45CB-976C-1982F5270F4A</string>
          <key>modifiers</key>
          <integer>262144</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>CCFE899C-E1B6-469A-92C7-49AC0ADDBE03</string>
          <key>modifiers</key>
          <integer>131072</integer>
          <key>modifiersubtext</key>
          <string>Press enter for more info</string>
          <key>vitoclose</key>
          <true/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Jeppe Stærk</string>
    <key>description</key>
    <string>Get Chuck Norris jokes inline in alfred</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Chuck Norris Jokes</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>largetypetext</key>
          <string>{query} 

- press esc to close.</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.largetype</string>
        <key>uid</key>
        <string>974535F0-94B7-4BF7-B73A-ACFEDDE66A4C</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>chucknorris</string>
          <key>subtext</key>
          <string/>
          <key>text</key>
          <string>Get some Chuck Norris jokes!</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>8F3844AF-9598-4BCC-A553-10E320743F5B</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <false/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string>{query}</string>
          <key>title</key>
          <string>Chuck Norris joke copied to clipboard!</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>9F6E90AC-80F6-44C5-9DF8-A0497DC5F42D</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>52067DA4-04F5-4B8D-B3EC-1B4E11431B79</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <false/>
          <key>queuedelaymode</key>
          <integer>1</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>fetching from api.chucknorris.io (pro tip: pres ⌥+⏎ to read aloud)</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string>index.js</string>
          <key>subtext</key>
          <string>(pro tip: pres ⌥ to read aloud)</string>
          <key>title</key>
          <string>Loading Chuck Norris jokes...</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>FB7413C9-BBDD-43D0-BB6B-8A676C4D99DB</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>type</key>
        <string>alfred.workflow.utility.junction</string>
        <key>uid</key>
        <string>D8275FDE-6145-46C4-AD00-8A0365E61736</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>action</key>
          <integer>0</integer>
          <key>argument</key>
          <integer>0</integer>
          <key>focusedappvariable</key>
          <false/>
          <key>focusedappvariablename</key>
          <string/>
          <key>hotkey</key>
          <integer>8</integer>
          <key>hotmod</key>
          <integer>1310720</integer>
          <key>hotstring</key>
          <string>C</string>
          <key>leftcursor</key>
          <false/>
          <key>modsmode</key>
          <integer>0</integer>
          <key>relatedAppsMode</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.hotkey</string>
        <key>uid</key>
        <string>2CFD8B41-9FE9-4C60-B4BD-0820F0DE43AC</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>119</integer>
          <key>script</key>
          <string>say -v Tessa -r 200 "{query}"</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>7242DEB0-A10A-4B5F-B780-9B19A759F902</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>soundname</key>
          <string>Hero</string>
          <key>systemsound</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.playsound</string>
        <key>uid</key>
        <string>B9F06354-19D7-4DA3-BB24-30892F63146D</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>largetypetext</key>
          <string>Here is some pro tips!:
- Use shortcut ⌃ + ⌘ + C for quick access. 
- Press ⏎ to see the full joke in Alfreds Large Type.
- Press ⌘ + ⏎ to copy the joke to your clipboard.
- Press ⌥ + ⏎ to get the joke read aloud via your systems text-to-speech.
- Press ⌃ + ⏎ to open the joke in your favorit browser.
- Press ⌘ + Y to open in quickview. 

This workflow calls api.chucknorris.io via https to fatch jokes.
Privacy Statement: https://api.chucknorris.io/privacy</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.largetype</string>
        <key>uid</key>
        <string>CCFE899C-E1B6-469A-92C7-49AC0ADDBE03</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string>{query}</string>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>2CB4A313-D6A3-45CB-976C-1982F5270F4A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>2CB4A313-D6A3-45CB-976C-1982F5270F4A</key>
      <dict>
        <key>xpos</key>
        <integer>530</integer>
        <key>ypos</key>
        <integer>420</integer>
      </dict>
      <key>2CFD8B41-9FE9-4C60-B4BD-0820F0DE43AC</key>
      <dict>
        <key>xpos</key>
        <integer>30</integer>
        <key>ypos</key>
        <integer>290</integer>
      </dict>
      <key>52067DA4-04F5-4B8D-B3EC-1B4E11431B79</key>
      <dict>
        <key>xpos</key>
        <integer>530</integer>
        <key>ypos</key>
        <integer>160</integer>
      </dict>
      <key>7242DEB0-A10A-4B5F-B780-9B19A759F902</key>
      <dict>
        <key>xpos</key>
        <integer>530</integer>
        <key>ypos</key>
        <integer>290</integer>
      </dict>
      <key>8F3844AF-9598-4BCC-A553-10E320743F5B</key>
      <dict>
        <key>xpos</key>
        <integer>30</integer>
        <key>ypos</key>
        <integer>160</integer>
      </dict>
      <key>974535F0-94B7-4BF7-B73A-ACFEDDE66A4C</key>
      <dict>
        <key>xpos</key>
        <integer>530</integer>
        <key>ypos</key>
        <integer>30</integer>
      </dict>
      <key>9F6E90AC-80F6-44C5-9DF8-A0497DC5F42D</key>
      <dict>
        <key>xpos</key>
        <integer>770</integer>
        <key>ypos</key>
        <integer>160</integer>
      </dict>
      <key>B9F06354-19D7-4DA3-BB24-30892F63146D</key>
      <dict>
        <key>xpos</key>
        <integer>770</integer>
        <key>ypos</key>
        <integer>290</integer>
      </dict>
      <key>CCFE899C-E1B6-469A-92C7-49AC0ADDBE03</key>
      <dict>
        <key>xpos</key>
        <integer>280</integer>
        <key>ypos</key>
        <integer>420</integer>
      </dict>
      <key>D8275FDE-6145-46C4-AD00-8A0365E61736</key>
      <dict>
        <key>xpos</key>
        <integer>460</integer>
        <key>ypos</key>
        <integer>260</integer>
      </dict>
      <key>FB7413C9-BBDD-43D0-BB6B-8A676C4D99DB</key>
      <dict>
        <key>xpos</key>
        <integer>280</integer>
        <key>ypos</key>
        <integer>230</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>0.1.1</string>
    <key>webaddress</key>
    <string>https://github.com/jeppestaerk/alfred-chuck-norris-jokes#readme</string>
  </dict>
</plist>